/* $Id: backgrounds.css,v 1.1 2009/02/02 03:38:46 johnalbin Exp $ */

/**
 * @file
 * Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */


body
{
}

#page
{
}

#page-inner
{
}

#header
{
}

#header-inner
{
}

#main
{
}

#main-inner
{
}

#footer
{
}

#footer-inner
{
}
