/* $Id: blocks.css,v 1.1 2009/02/02 03:38:46 johnalbin Exp $ */

/**
 * @file
 * Block Styling
 */

.block /* Block wrapper */
{
  overflow: hidden;
  margin-bottom: 1em;
}

/* default block widths for content-bottom and content-below */
.region-content_below,
.region-content_bottom
{
  overflow: auto;
  margin-bottom: 1em;
}

.region-content_below .block,
.region-content_bottom .block
{
  float: left;
  margin-bottom: 0;
}

.region-content_below-1 .block,
.region-content_bottom-1 .block
{
  width: 100%;
}

.region-content_below-2 .block,
.region-content_bottom-2 .block
{
  width: 49%;
  margin-left: 2%;
}

.region-content_below-3 .block,
.region-content_bottom-3 .block
{
  width: 32%;
  margin-left: 2%;
}

.region-content_below-4 .block,
.region-content_bottom-4 .block
{
  width: 23.5%;
  margin-left: 2%;
}

.region-content_below-5 .block,
.region-content_bottom-5 .block
{
  width: 19%;
  margin-left: 1.25%;
}

.region-content_below .region-count-1,
.region-content_bottom .region-count-1
{
  margin-left: 0;
}
