/* $Id: layout-fixed.css,v 1.9 2009/02/13 19:21:45 johnalbin Exp $ */

/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/*
 * Body
 */
body
{
}

#page,
#closure-blocks
{
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#page-inner
{
}

#navigation-top,
#navigation
{
  position: absolute; /* Take the named anchors out of the doc flow    */
  left: -10000px;     /* and prevent any anchor styles from appearing. */
}

#skip-to-nav
{
  float: right;
  margin: 0 !important;
  font-size: 0.8em;
}

#skip-to-nav a:link, #skip-to-nav a:visited
{
  color: #fff; /* Same as background color of page */
}

#skip-to-nav a:hover
{
  color: #000;
  text-decoration: none;
}

#skip-to-nav a, #skip-to-nav a:hover, #skip-to-nav a:visited
{
  position: absolute;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip-to-nav a:active, #skip-to-nav a:focus
{
  position: static;
  width: auto;
  height: auto;
}

/*
 * Header
 */
#header
{
}

#header-inner
{
}

#logo-title
{
}

#logo
{
  float: left;
}

#site-name
{
}

#site-slogan
{
}

#header-blocks
{
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
#main
{
  position: relative;
}

#main-inner
{
}

/*
 * Content
 */
#content,
.no-sidebars #content
{
  float: left;
  width: 960px;
  margin-left: 0;
  margin-right: -960px; /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
}

.sidebar-left #content
{
  width: 760px;
  margin-left: 200px; /* The width of #sidebar-left. */
  margin-right: -960px; /* Negative value of #content's width + left margin. */
}

.sidebar-right #content
{
  width: 760px;
  margin-left: 0;
  margin-right: -760px; /* Negative value of #content's width + left margin. */
}

.two-sidebars #content
{
  width: 560px;
  margin-left: 200px; /* The width of #sidebar-left */
  margin-right: -760px; /* Negative value of #content's width + left margin. */
}

#content-inner
{
  margin: 0 20px;
  padding: 0;
}

/*
 * Navbar
 */
#navbar
{
  float: left;
  width: 100%;
  margin-left: 0;
  margin-right: -100%; /* Negative value of #navbar's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navbar-inner. */
}

.with-navbar #content,
.with-navbar #sidebar-left,
.with-navbar #sidebar-right
{
  margin-top: 3.6em; /* Set this to the same value as the navbar height above. */
}

#navbar-inner
{
}

#search-box
{
  width: 200px;
  margin-right: -200px;
  float: left;
}

/*
 * Sidebar-left
 */
#sidebar-left
{
  float: left;
  width: 200px;
  margin-left: 0;
  margin-right: -200px; /* Negative value of #sidebar-left's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-left-inner. */
}

#sidebar-left-inner
{
  margin: 0;
  padding: 0;
}

/*
 * Sidebar-right
 */
#sidebar-right
{
  float: left;
  width: 200px;
  margin-left: 760px; /* Width of content + sidebar-left. */
  margin-right: -960px; /* Negative value of #sidebar-right's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-right-inner. */
}

#sidebar-right-inner
{
  margin: 0;
  padding: 0;
}

/*
 * Footer
 */
#footer
{
}

#footer-inner
{
}

/*
 * Closure
 */
#closure-blocks /* See also the #page declaration above that this div shares. */
{
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navbar,
#sidebar-left,
#sidebar-right,
#footer,
#closure-blocks
{
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

#navbar
{
  overflow: hidden; /* May need to be removed if using a dynamic drop-down menu */
}

/*
 * If a div.clear-block doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page div.
 */
/*
#page
{
  overflow-y: hidden;
}
*/
