/* Page and page containers */
body.with-wireframes {
  font-family:Georgia,"Times New Roman",Times,serif;
}
body.with-wireframes {
line-height:1.4em;
word-wrap:break-word;
}

.with-wireframes #page {
  background-color: #fff;
  border: 1px dashed #ccf;
  padding: 5px;
}
.with-wireframes h1 {
  font-weight: normal;
  font-size: 2.5em;
}
/* blocks */
.with-wireframes .region .block {
  background-color: #F4F4F0;
  border-bottom: 1px solid #aaa;
  overflow: hidden;
}
.with-wireframes .region .block-inner {
  padding: 15px 20px;
  border: 1px solid #aaa;
  border-bottom: 0;
}
.with-wireframes .region .block .edit a {
  color: #236;
}
.with-wireframes .region h2 {
  border-bottom: 1px solid #D6D6D6;
  margin: 0 0 0.5em;
  padding-bottom: 5px;
  text-shadow: 0 1px 0 #FFFFFF;
  font-size: 120%;
}

.with-wireframes .region .content {
}

/* header & navbar */
.with-wireframes #header-inner,
.with-wireframes #navbar-inner {
  background-color: #222;
  color: #fff;
  padding: 5px 5px 0;
}

.with-wireframes .region-header .block {
  border: 1px dashed #fff;
  background: transparent;
  color: #fff;
}
.with-wireframes .region-header .block a {
  color: #fff;
}

.with-wireframes #site-name a:link,
.with-wireframes #site-name a:visited,
.with-wireframes .region-header a:link,
.with-wireframes .region-header a:visited,
.with-wireframes .region-navbar a {
  font-weight: normal;
  color: #fff;
}
 
/* navigation */
.with-wireframes .menu,
.with-wireframes .links,
.with-wireframes .edit {
  font-family: Helvetica Neue, Arial, Tahoma, sans-serif;
}
.with-wireframes .menu a,
.with-wireframes .links a {
  text-decoration: none;
}
.with-wireframes .menu a:hover,
.with-wireframes .links a:hover {
  text-decoration: underline;
}
.with-wireframes #navbar {
  position: relative;
  overflow: visible;
}
.with-wireframes #navbar li {
  margin: 0 5px 0 0;
  padding: 0;
}

.with-wireframes #primary {
  margin-left: 0;
}
.with-wireframes #primary li a {
  display: inline;
  float: left;
  -moz-border-radius-topleft:8px;
  -moz-border-radius-topright:8px;
  -webkit-border-radius-topleft:8px;
  -webkit-border-radius-topright:8px;
  background-color: #ddf;
  color: #333;
  padding: 4px 10px 2px;
  
}
.with-wireframes #primary li a:hover,
.with-wireframes #primary li.active-trail a {
  background-color: #fff;
}

.with-wireframes #secondary
{
  position: absolute;
  z-index: 10;
  right: 215px;
  top: -60px;
}

.with-wireframes #secondary a {
  border: 1px solid #ddf;
  padding: 2px 3px;
}

/* search box */
.with-wireframes #search-box {
  position: absolute;
  z-index: 10;
  right: 0;
  margin-right: 0;
  top: -65px;
  width: auto;
}

/* footer */
.with-wireframes #footer {
  background-color: #222;
}
.with-wireframes #footer-inner {
  padding: 5px;
}
.with-wireframes .region-footer .block {
  border: 1px dashed #fff;
  background: transparent;
  color: #fff;
}
.with-wireframes .region-footer .block a {
  color: #fff;
}

/* footer navigation menu block */
.block-menu_block
{
}

#footer .block-menu_block {
  overflow: auto;
}
#footer .block-menu_block h3 {
  display: none;
}
#footer .block-menu_block ul {
  margin: 0 5px 0 0px;
  padding: 0;
  overflow: visible;
}
#footer .block-menu_block ul ul {
  margin: 0;
  padding: 0;
}
#footer .block-menu_block li {
  display: inline;
  float: left;
  width: auto;
  max-width: 150px;
  padding-right: 0px;
  margin: 0 20px 0 0;
  list-style: none none;
  font-size: 11px;
}
#footer .block-menu_block li li {
  margin: 0;
  display: block;
  float: none;
}
#footer .block-menu_block li a {
  font-weight: bold;
  line-height: 1;
}
#footer .block-menu_block li li a {
  font-weight: normal;
}
#footer .block-menu_block li li li {
  padding-left: 10px;
}
