/* Page and page containers */
body.with-wireframes {
  font-family:Georgia,"Times New Roman",Times,serif;
}
body.with-wireframes {
line-height:1.4em;
word-wrap:break-word;
}

.with-wireframes #page {
  background-color: #fff;
  border: 1px dashed #ccf;
  padding: 5px;
}
.with-wireframes h1 {
  font-weight: normal;
  font-size: 2.5em;
}
/* blocks */
.with-wireframes .region .block {
border:1px solid;
margin:0 0 20px 0;
padding:15px 20px;
background-color:#F4F4F0;
border-color:#aaa;
overflow: hidden;
}
.with-wireframes .region .block .edit a {
  color: #236;
}
.with-wireframes .region h2 {
border-bottom:1px solid #D6D6D6;
margin:0 0 0.5em;
padding-bottom:5px;
text-shadow:0 1px 0 #FFFFFF;
font-size:120%;
}

.with-wireframes .region .content {
margin-top:1em;
}

/* header & navbar */
.with-wireframes #header-inner,
.with-wireframes #navbar-inner {
  background-color: #235;
  color: #fff;
  padding: 5px 5px 0;
}
.with-wireframes #header a:link,
.with-wireframes #header a:visited,
.with-wireframes #navbar a {
  font-weight: normal;
  color: #fff;
}
 
/* navigation */
.with-wireframes .menu,
.with-wireframes .links,
.with-wireframes .edit {
  font-family: Helvetica Neue, Arial, Tahoma, sans-serif;
}
.with-wireframes .menu a,
.with-wireframes .links a {
  text-decoration: none;
}
.with-wireframes .menu a:hover,
.with-wireframes .links a:hover {
  text-decoration: underline;
}
.with-wireframes #navbar li {
  margin: 0 8px 0 0;
  padding: 0;
}
.with-wireframes #navbar li a {
  display: inline;
  float: left;
  -moz-border-radius-topleft:8px;
  -moz-border-radius-topright:8px;
  -webkit-border-radius-topleft:8px;
  -webkit-border-radius-topright:8px;
  background-color: #ddf;
  color: #333;
  padding: 5px 12px 3px;
  
}
.with-wireframes #navbar li a:hover,
.with-wireframes #navbar li.active-trail a {
  background-color: #fff;
}
.with-wireframes #secondary
{
  margin-left: 0;
  float: right;
}

/* footer */
.with-wireframes #footer {
  background-color: #147;
}
.with-wireframes #footer-inner {
  padding: 5px;
}
.with-wireframes .region-footer .block {
  border: 1px dashed #fff;
  background: transparent;
  color: #fff;
}
.with-wireframes .region-footer .block a {
  color: #fff;
}
