/**
 * @file
 * CSS Styles for Imagefield Innerfade module.
 */
.imagefield_innerfade_container .imagefield_innerfade,
.imagefield_innerfade_container .imagefield_innerfade li {
  list-style: none;
  margin: 0;
  padding: 0;
}