/* @override http://localhost/lifetrackresources_org/public_html/sites/default/modules/devel_notes/devel_notes.css?a */

body.devel-notes {
	margin-bottom: 400px;
	}

.devel-notes-selected {
  outline: 2px solid #ff6;
  }

.devel-notes-mouseover {
  cursor: pointer;
  outline: 2px solid #666;
  }
  
.devel-notes-inline-note-badge {
	background: url(images/badge.png) no-repeat 0 0;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	margin: -2px 0 0 -24px;
	position: absolute;
	text-align: center;
	width: 20px;
	}

.devel-notes-inline-note-selected {
	outline: 2px solid red;
	}

#devel-notes {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 989;
	height: 25px;
	width: 100px;
	background: #333;
	border: 2px solid #000;
	filter:Alpha(opacity=95);
	font-size: 12px;
	line-height: 18px;
	opacity: 0.95;
	color: #fff;
	text-align: left;
	}

#devel-notes.expanded {
	width: 100%;
	height: 380px;
	}

#devel-notes-notes {
	border: 1px solid #999;
	float: left;
	height: 300px;
	overflow: auto;
	padding: 12px;
	width: 60%;
	}

form#devel-notes-new-note {
	border: 1px solid #999;
	float: left;
	height: 300px;
	margin-left: 24px;
	overflow: auto;
	padding: 12px;
	width: 32%;
	}

a#devel-notes-tab {
	display: block;
	padding: 0 0 0 12px;
	line-height: 25px;
	text-transform: uppercase;
	}

.expanded a#devel-notes-tab {
	background: #000;
	}
	
#devel-notes-badge {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background: url(images/badge.png) no-repeat 0 0;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
  font-weight: bold;
  z-index: 10000;
  }
	
#devel-notes a {
	color: #fff
	}
	
#devel-notes-inner {
	padding: 12px;
}

#devel-notes-inner form input,
#devel-notes-inner form textarea {
	width: 100%;
	background: #333;
	color: #fff;
	border: 1px solid #999;
}

#devel-notes-inner form input.form-submit {
	float: right;
	width: auto;
	padding: 0.5em 1em;
	cursor: pointer;
	}

.devel-notes-note {
	border-bottom: 1px solid #999;
	clear: both;
	float: left;
	font-size: 12px;
	margin: 6px 0 6px;
	padding: 6px 0 0;
	width: 100%;
	}

.devel-notes-note-content {
	float: left;
	width: 90%;
	}

.devel-notes-note-meta,
.devel-notes-note-meta a {
  color: #999;
}

.devel-notes-note-meta {
	float: left;
	margin: 1em 6px 1em 0;
	font-size: 0.75em;
	padding-right: 6px;
	width: 8%;
	}

.devel-notes-note-number {
	color: #999;
	display: block;
	font-size: 2em;
	margin: 4px 0;
	}

.devel-notes-note-selected .devel-notes-note-number {
	color: #ff6;
	}

.devel-notes-note .form-item {
	float: left;
	margin-right: 6px;
	}
	
#devel-notes .devel-notes_note .form-select {
	color: #fff;
	background: #000;
	border: 1px solid #fff;
	}
